@charset "UTF-8";


.pt_cart{
	width: 100%;
	height: 800px;
	margin-top:250px;
	margin-left: auto;
	margin-right: auto;
	
}

.pt_cart > .contents {
    margin: 80px 0 50px;
    
}

.cart-wrap {
    max-width: 8580px;
    height: 500px;
    margin: 0 auto;
    padding: 0 20px;
}

.cart-wrap .cart-top {
    max-width: 100%;
    height:100%;
    margin-bottom: 100px;
}

.flex-no-gutters {
    width:100%;
    height: 100%;
}

.cart-group-list {
  width: 100%;
  height: 100% 
    }
    
.title {
   padding-bottom: 40px;
   margin: 0 auto; /* 가운데 정렬 */
   font-size: 26px;
   color: #000000;
   font-weight: bold;
   letter-spacing: -0.025em;
   position: relative;
   text-align: center; /* 텍스트를 중앙 정렬 */
}

/* 작은 화면(예: 768px 이하) */
@media (max-width: 768px) {
   .title {
      font-size: 20px; /* 글자 크기 줄이기 */
      text-align: center; /* 중앙 정렬 유지 */
   }
}
    
    
 .cart-list{
 max-width: 100%;
 height: 420px;
 }   
  
  
.list-sort-name {
    height: 70px;
    text-align: center;
    border-top: 3px solid #141414;
    border-bottom: 1px solid #9b9b9b;
}

.col-md-7{
	width: 700px;
	height: 40px;
	margin-top: 20px
}

.cart-list .list-sort-name > div {
    font-size: 16px;
}

.col-md-7 > .flex-no-gutters{
	width: 100%;
	height: 100%;
}

 

.btn-t {
    color: #191919;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.3px;
    color: black;
    width: 90px;
    height: 35px;
    background: #f2f4fc;
    /* padding: 20px 0; */
    border-radius: 7px;
    text-align: center;
    border: none;
}

.btn-t:hover{
	 background: #f2f4fc;
}

.btn-s {
    color: #191919;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.3px;
    color: black;
    width: 90px;
    height: 35px;
    background: #f2f4fc;
    /* padding: 20px 0; */
    border-radius: 7px;
    text-align: center;
    border: none;
}

.btn-s:hover{
	 background: #f2f4fc;
}

.check_wrap{
	width: 26px;
}

input#check_btn{
  display:none;
  }

input#check_btn + label{
  cursor:pointer;
 }

input#check_btn + label > span{
  vertical-align: middle;
  padding-left: 5px;
 }

/* label:before에 체크하기 전 상태 CSS */
input#check_btn + label:before{
  content:"";
  display:inline-block;
  width:27px;
  height:27px;
  border:2px solid #F47C7C;
  border-radius: 4px;
  vertical-align:middle;
  }
  
/* label:before에 체크 된 상태 CSS */  
input#check_btn:checked + label:before{
  content:"";
  background-color:#F47C7C;
  border-color:#F47C7C;
  background-image: url('check_btn.png');
  background-repeat: no-repeat;
  background-position: 50%;
  }

.col{
	font-size :20px;
	    position: relative;
}

.col-md-3{
	font-size :20px;
	    position: relative;
    top: -40px;
}
.col-md-2{
	width :50px;
	font-size :20px;
	    position: relative;
    top: -40px;
    float: right;
}

.cart-list .cart-list-item {
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    width: 100%;
    height: 70px;
}

.cart-list .cart-list-item .item-dec {
  width : 700px;
  height :100px;
  padding: 10px 0;
}

.flex-align-start{
	width: 700px;
	height: 100px;
}

/* 게시판 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
section.notice {
  width: 100%;
}


.page-title h3 {
  font-size: 22px;
  color: #333333;
  font-weight: 400;
  text-align: center;
}

#board-search .search-window {
  padding: 15px 0;
  background-color: #f9f7f9;
}
#board-search .search-window .search-wrap {
  position: relative;
/*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
}
#board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
#board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}
#board-search .search-window .search-wrap .btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 108px;
  padding: 0;
  font-size: 16px;
}

.board-table {
  font-size: 20px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-height: 400px;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 200px;
}

.board-table th, .board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  width: 200px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

.btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.container {
   width: 60%; /* 기존 1100px에서 % 값으로 수정 */
  margin: 0 auto;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}    



