@charset "UTF-8";


#login-warp{
	width: 100%;
	height: 750px;
	margin-top: 250px;
}

.util-width {
    max-width: 890px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-tit {
    margin-bottom: 50px;
}

.page-tit > h1 {
    color: #191919;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.7px;
}

.rq-form {
    border-bottom: 0;
    padding-bottom: 0;
    height: 650px;
}

.rq-form .main-txt-group {
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.main-txt {
    color: #191919;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.4px;
}

.box-input{
	width: 630px;
}

.input-wrap{
	width: 100%;
	height: 120px
}



.box-input .input-default.is-delete {
    padding-right: 50px;
}

.input-default{
	width: 820px;
    height: 58px;
    padding: 16px 20px;
    border: 1px solid #ddd;
    border-radius: 7px;
    transition: border-color .3s ease;
    color: #666;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -.3px;
}

.btns{
    color: #191919;
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.3px;
    color: #fff;
    width: 890px;
    height: 78px;
    background: #662d91;
    padding: 20px 0;
    border-radius: 7px;
    text-align: center;
}










