@charset "UTF-8";

.Edit-wrap{
	width: 100%;
	height: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 120px;
}

.util-width {
    max-width: 800px;
    height: 100%;
    width: 100%;
    margin-left: auto;
	margin-right: auto;
}

.page-tit {
    margin-bottom: 50px;
}

.page-tit > h1 {
    color: #191919;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -.7px;
}

.page-desc {
    margin-bottom: 50px;
}

.page-desc > h2 {
    color: #191919;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.4px;
}

.cardList-wrap{
	width: 100%;
	height: 100%;
	
}

.cardList-wrap .cardList-title {
    margin-bottom: 10px;
    color: #191919;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.4px;
}

.cardList-wrap .cardList {
	height: 760px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    margin-top : 25px;
}

.box-input {
    width: 100%;
    height: 90px;
    padding-bottom: 40px
    
}

.input-label{
	    display: block;
    margin-bottom: 16px;
    text-align: left;
    color: #191919;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.3px;
}

.input-wrap{
	width: 100%;
	height: 80px;
}

 .input-default:focus {
    border-color: #191919;
}


.input-default{
width: 730px;
    height: 30px;
    padding: 16px 20px;
    border: 1px solid #ddd;
    border-radius: 7px;
    transition: border-color .3s ease;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -.3px;
}

.input-default[readonly] {
      background-color: #d3d3d3; 
      color: black; 
      cursor: not-allowed;
    }

.btn-group {
    margin-top: 50px;
}

.btn-group {
    flex: 1;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40px;
    left: 120px;
}

.btns {
color: #191919;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.3px;
    color: #fff;
    width: 260px;
    height: 58px;
    background: #662d91;
    border-radius: 7px;
    text-align: center;
}

.btns1 {
color: #191919;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.3px;
    color: #fff;
    width: 210px;
    height: 58px;
    background: #662d91;
    border-radius: 7px;
    text-align: center;
}



.btns:hover{
	background: #662d91;
}

.btns1:hover{
	background: #662d91;
}
